/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  font-family: var(--Inter-Variable), "Inter", sans-serif;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" 400;
  background-image: repeating-linear-gradient(transparent 0, #d3d3d3 2px),
    repeating-linear-gradient(90deg, transparent 0, #d3d3d3 2px),
    linear-gradient(#e7e7e7, #1a1a1a);
  background-size: cover;
  background-attachment: fixed;
}

.container {
  margin: 0 auto;
  max-inline-size: var(--section-size);
}

.header {
  margin-block: 100px;
  border: 2px solid #000;
  padding-block: 128px;
  text-align: center;
  background-color: #fff;
}

.header-logo {
  font-family: var(--PressStart2P), sans-serif;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  line-height: 1em;
}

.header-title {
  margin-block-start: 20px;
  font-family: var(--PressStart2P), sans-serif;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  line-height: 1em;
  text-transform: uppercase;
}

.grayscale {
  filter: grayscale(80%);
}

.hue-rotate {
  filter: hue-rotate(90deg);
}

.drop-shadow {
  filter: drop-shadow(16px 16px 20px red) invert(75%);
}

.invert {
  filter: invert(100%);
}

.saturate {
  filter: saturate(200%);
}

.sepia {
  filter: sepia(100%);
}

.combining {
  filter: contrast(175%) brightness(103%);
}

.card {
  margin-bottom: 50px;
  border: 2px solid #000;
  background-color: #fff;
}

.card-title {
  margin-inline: 10px;
  margin-block: 3px;
  font-weight: var(--title-weight);
  font-size: 18px;
  line-height: 1.2em;
}

.card-image__wrapper {
  position: relative;
}

.card-label {
  position: absolute;
  right: 25px;
  top: 25px;
  mix-blend-mode: hard-light;
  opacity: 50%;
  font-size: 14px;
  line-height: 1em;
  font-family: var(--PressStart2P), sans-serif;
  text-shadow: -1px 0 var(--text-shadow-color), 0 1px var(--text-shadow-color),
    1px 0 var(--text-shadow-color), 0 -1px var(--text-shadow-color);
}

@supports (text-stroke: 1px var(--text-shadow-color)) or
  (-webkit-text-stroke: 1px var(--text-shadow-color)) {
  .card-label {
    -webkit-text-stroke: 1px var(--text-shadow-color);
    text-stroke: 1px var(--text-shadow-color);
    text-shadow: none;
  }
}

.card-image {
  border-block: 2px solid #000;
  inline-size: 100%;
}

.card-text__wrapper {
  margin: 25px;
}

.card-text {
  line-height: 1.2em;
  font-size: 18px;
  text-shadow: 1px 1px var(--text-shadow-color);
}

.card-text:not(:last-child) {
  margin-block-end: 27px;
}

.card-buttons {
  display: flex;
  justify-content: end;
  gap: 12px;
  margin: 0 25px 25px;
}

.card-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.button-like {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #000;
  padding-inline: 37px;
  font-family: var(--PressStart2P), sans-serif;
  line-height: 0.9em;
  min-block-size: 38px;
  min-inline-size: 130px;
}

.button-save {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border: 2px solid #000;
  padding-inline: 20px;
  font-family: var(--PressStart2P), sans-serif;
  font-size: 14px;
  line-height: 0.9em;
  background-color: #fff;
  min-block-size: 51px;
  min-inline-size: 335px;
  margin-block-end: 103px;
  cursor: pointer;
}

.button-save__image {
  margin-inline-end: 8px;
  block-size: 21px;
  inline-size: 21px;
}

.dialog {
  padding: 30px;
}

.dialog::backdrop {
  background-color: #000;
  opacity: 75%;
}

.dialog__info {
  margin-block-end: 30px;
  display: flex;
  align-items: center;
}

.dialog__image {
  margin-inline-end: 20px;
  inline-size: 39px;
  block-size: 39px;
}

.dialog__title {
  max-inline-size: 234px;
  font-family: var(--PressStart2P), sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  font-weight: var(--main-weight);
  text-transform: uppercase;
}

.dialog__button {
  border: 2px solid #000;
  inline-size: 100%;
  font-family: var(--PressStart2P), sans-serif;
  text-transform: uppercase;
  padding-block: 12.5px;
  background-color: transparent;
  cursor: pointer;
}

@media (width <= 375px) {
  .container {
    max-inline-size: 100%;
  }

  .header {
    padding-block: 120px;
  }

  .button-save {
    flex-direction: column;
    padding-block: 15px;
  }

  .button-save__image {
    margin-block-end: 8px;
    inline-size: 28px;
    block-size: 28px;
  }

  .dialog {
    inline-size: 100%;
    margin-inline: 17px;
  }

  .dialog__title {
    max-inline-size: 198px;
  }
}
