:root {
  --PressStart2P: PressStart2P;
  --Inter-Variable: Inter-Variable;
  --main-weight: 400;
  --title-weight: 700;
  --section-size: 50dvi;
  --text-shadow-color: #fff;
  --button-text-color: #fff;
  --contour-color: #000;
  --main-heart-color: #ff0000;
}
